@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

// loading cards with delay
@keyframes slide-top {
    0% {
        opacity: 0;
      transform: translateY(50%);
    }
    100% {
        opacity: 1;
      transform: translateY(0);
    }
  }
// for each .card child
$animation-delay: 200ms;
@for $i from 1 through 9 {
    .restaurant-details .menu .menu-content .menu-content-options .card:nth-child(n + #{$i}) {
    animation-delay: ($animation-delay + ($i * 250ms));
  }
}
