// tablet
@media screen and (min-width: $tablet) {
    // index
    .hero {
        h1 {
            font-size: ($base-font-size * 2.5);
        }
    }
    .steps {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: ($space-base * 2);
        justify-content: space-around;
        max-width: $desktop;

        h2 {
            width: 100%;
        }

        .steps-card {
            flex: 1;
        }
    }
    .restaurants {
        padding: $space-base $space-none $space-lg $space-none;
        overflow: hidden;

        .restaurants-block {
            display: flex;
            flex-direction: column;
            max-width: $desktop;
            margin: 0 auto;

            h2 {
                width: 100%;
                flex: 1;
                padding-left: $space-base;
                max-width: $desktop;
                margin: ($space-base * 2) auto;
            }
    
            .block-cards {
                display: flex;
                flex-direction: row;
                column-gap: ($space-base * 2);
                padding: $space-base;
                align-items: center;
                justify-content: flex-start;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
    
                .card {
                    min-width: 330px;
                }
        }    
    }

    }
    footer {
        flex-direction: row;

        ul {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            column-gap: ($space-base * 2);
            align-items: center;

            li {
                display: flex;
                order: 0;

                &:first-child {
                    order: 1;
                }

                .logo {
                    height: 20px;
                    margin-bottom: 0;
                    display: flex;
                    margin-left: $space-base;
                }
            }
        }
    }
    // restaurant page
    .menu {
        display: flex;
        max-width: $desktop;
        margin: -($space-base * 3) auto 0;
        justify-content: center;
        flex-direction: unset !important;

        .menu-block {
            display: flex;
            justify-content: center;
            flex: 1;
            max-width: $tablet;
            flex-direction: column;
            
            .menu-title {
                justify-content: center;

                .shrikhand {
                    flex-basis: unset !important;
                    margin-right: $space-base;
                }
            }
        }
    }
}
// desktop
@media screen and (min-width: $desktop) {
    .restaurants {
        .block-cards {
            overflow-x: scroll;
        }
    }
}