// single restaurant page
.restaurant-details {
    padding: $space-none;

    .restaurant-details-thumbnail {
        position: relative;
        img {
            height: 275px;
            object-fit: cover;
            width: 100%;
        }
    }
    .menu {
        background-color: $grey;
        padding: $space-md;
        border-radius: 40px 40px 0px 0px;
        margin-top: -($space-base * 3);
        position: relative;
        

        .menu-title {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-basis: 100%;

            h1 {
                flex-basis: 86%;
                justify-content: flex-start;
            }
            .like {
                display: flex;
                justify-content: center;
            }
        }
    }
}