@import "reset.scss";
@import "variables.scss";
@import "functions.scss";

// hello code
body, html {
    font-size: $base-font-size;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: black;
    background-color: white;
}

// container
header, nav, article, section, footer {display: flex;}
#content {
    max-width: $tablet;
    width: 100%;
    margin: 0 auto;
}

// header
header {
    flex-basis: 100%;

    nav {
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        background-color: white;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);

        img {
            height: 32px;
            display: flex;
        }
    }
}
// location
.location {
    flex: 1;
    justify-content: center;
    display: flex;
    background-color: $grey;
}

// hero
.hero {
    display: flex;
    flex-direction: column;
}

