@import "reset.scss";
@import "variables.scss";
@import "functions.scss";

// hello code
body, html {
    font-size: $base-font-size;
    font-family: 'Roboto', sans-serif;
    color: $color-base;
    background-color: $white;
    font-weight: 400;
}

// container
header, nav, article, section, footer {display: flex;}
#content {
    max-width: $tablet;
    width: 100%;
    margin: 0 auto;
}

// titles
h1 {font-size: ($base-font-size * 1.4);}
h2 {font-size: ($base-font-size * 1.2);}
h3 {font-size: ($base-font-size * 1);}
h4 {font-size: ($base-font-size * .8);}
h5 {font-size: ($base-font-size * .6);}
h6 {font-size: ($base-font-size * .5);}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}

// button
.btn {
    color: $white;
    background-image: linear-gradient($secondary, $primary);
    padding: $space-sm $space-md;
    border-radius: 2rem;
}

// header
header {
    flex-basis: 100%;

    nav {
        align-items: center;
        justify-content: center;
        flex-basis: 100%;
        background-color: $white;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
        padding: $space-base $space-none;

        img {
            height: 32px;
            display: flex;
        }
    }
}
// location
.location {
    flex: 1;
    justify-content: center;
    display: flex;
    background-color: $grey;
    padding: $space-sm $space-none;
    color: lighten($color-base, 30%);

    i {margin-right: $space-sm;}
}

// hero
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $space-xl $space-none;
    background-color: $light-grey;
    
    h1 {
        text-align: center;
    }
    .lead {
        font-weight: 300;
        font-size: $base-font-size;
        color: lighten($color-base, 40%);
        margin: $space-sm $space-none $space-md;
    }
}

