// font
$base-font-size: 16px;

// colors - main
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
// colors - base
$color-base: #000000;
$white: #FFFFFF;
$light-grey: #f7f7f7;
$grey: #eaeaea;
$dark-grey: #353535;

// color classes
.primary {color: $primary;}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}

// bg color classes
.bg-primary {background-color: $primary;}
.bg-primary {background-color: $primary;}
.bg-primary {background-color: $primary;}

// paddings & margins
$space-none: 0;
$space-sm: ($base-font-size * .8);
$space-base: $base-font-size;
$space-md: ($base-font-size * 1.6);
$space-lg: ($base-font-size * 2.4);
$space-xl: ($base-font-size * 3.2);

// screen sizes
$tablet: 992px;
$mobile: 768px;
