/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.restaurant-details {
  padding: 0;
}
.restaurant-details .restaurant-details-thumbnail {
  position: relative;
}
.restaurant-details .restaurant-details-thumbnail img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}
.restaurant-details .menu {
  background-color: rgb(234, 234, 234);
  padding: 25.6px;
  border-radius: 40px 40px 0px 0px;
  margin-top: -48px;
  position: relative;
  flex-direction: column;
}
.restaurant-details .menu .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 100%;
}
.restaurant-details .menu .menu-title h1 {
  flex-basis: 86%;
  justify-content: flex-start;
}
.restaurant-details .menu .menu-title .like {
  position: inherit;
}
.restaurant-details .menu .menu-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.restaurant-details .menu .menu-content .menu-content-title {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.restaurant-details .menu .menu-content .menu-content-title h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 6.4px;
}
.restaurant-details .menu .menu-content .menu-content-title .menu-content-title-border {
  width: 40px;
  height: 3px;
  background-color: rgb(153, 226, 208);
}
.restaurant-details .menu .menu-content .menu-content-options {
  display: flex;
  flex: 1;
}
.restaurant-details .menu .menu-content .menu-content-options .card {
  flex: 1;
  display: flex;
  border: none;
  padding: 16px;
  margin: 16px 0;
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}
.restaurant-details .menu .menu-content .menu-content-options .card .menu-content-options-details {
  display: flex;
  flex-direction: column;
}
.restaurant-details .menu .menu-content .menu-content-options .card .menu-content-options-details h3 {
  font-weight: 500;
  display: flex;
  margin-bottom: 6.4px;
}
.restaurant-details .menu .menu-content .menu-content-options .card .menu-content-options-details p {
  font-size: 16px;
  font-weight: 300;
  display: flex;
}
.restaurant-details .menu .menu-content .menu-content-options .card .menu-content-options-price {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 18px;
  margin-right: 16px;
  font-weight: 500;
}
.restaurant-details .menu .menu-content .menu-content-options .card:hover .check {
  right: 0;
}
.restaurant-details .menu .menu-content .menu-content-options .card:hover .check i {
  animation: rotation 500ms linear;
}
.restaurant-details .menu .menu-content .menu-content-options .card .check {
  background-color: rgb(153, 226, 208);
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -60px;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  overflow-x: hidden;
  transition: ease-in 300ms;
}
.restaurant-details .menu .menu-content .menu-content-options .card .check i {
  color: rgb(255, 255, 255);
  font-size: 27.6px;
}

body, html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 400;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

header, nav, article, section, footer {
  display: flex;
}

main h2 {
  margin: 25.6px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22.4px;
}

h3 {
  font-size: 19.2px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12.8px;
}

h6 {
  font-size: 9.6px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-image: linear-gradient(345deg, rgb(147, 86, 220), rgb(255, 121, 218));
  padding: 12.8px 25.6px;
  border-radius: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  transition: ease-in 300ms;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(345deg, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
}
.btn:focus, .btn:active {
  background-image: none;
  background-color: rgb(255, 255, 255);
  color: rgb(147, 86, 220);
}

.like {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 32px;
  right: 25.6px;
  font-size: 1.375rem;
}
.like:before {
  font: var(--fa-font-regular);
  content: "\f004";
  color: rgb(0, 0, 0);
}
.like:hover:before {
  cursor: pointer;
  font: var(--fa-font-solid);
  content: "\f004";
  background: linear-gradient(345deg, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
.like:focus:before {
  font: var(--fa-font-solid);
  content: "\f004";
  background: linear-gradient(345deg, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}
.card a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.card .card-thumbnail {
  position: relative;
}
.card .card-thumbnail .badge {
  color: rgb(0, 135, 102);
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 6.4px 12.8px;
  position: absolute;
  top: 12.8px;
  right: 12.8px;
}
.card .card-thumbnail .badge.badge-success {
  background-color: rgb(153, 226, 208);
}
.card .card-thumbnail img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.card .card-content .card-title {
  flex-basis: 86%;
  justify-content: flex-start;
}
.card .card-content .card-title h3 {
  margin-bottom: 6.4px;
}
.card .card-content .card-title p {
  font-weight: 300;
}

header {
  flex-basis: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: -32px;
}
header nav .logo.nomenu {
  margin-left: 0;
}
header nav .logo img {
  height: 34px;
  display: flex;
}
header nav .back {
  display: flex;
  padding-left: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
header nav .back i {
  font-size: 16px;
}

.location {
  padding: 16px 0;
  flex: 1;
  justify-content: center;
  display: flex;
  background-color: rgb(234, 234, 234);
  color: rgb(53, 53, 53);
}
.location i {
  margin-right: 12.8px;
}

.hero {
  padding: 38.4px 25.6px;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.hero h1 {
  text-align: center;
}
.hero .lead {
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  margin: 12.8px 0 25.6px;
}

.steps {
  padding: 38.4px 25.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.steps .steps-card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  background-color: rgb(247, 247, 247);
  border-radius: 1.25rem;
  margin: 12.8px 0;
  padding: 25.6px 16px;
  font-weight: 400;
}
.steps .steps-card i {
  margin: 0 25.6px 0 16px;
  color: rgb(126, 126, 126);
}
.steps .steps-card:last-child {
  background-color: #f2eafb;
}
.steps .steps-card:last-child i {
  color: rgb(147, 86, 220);
}

.restaurants {
  padding: 38.4px 25.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  padding-bottom: 51.2px;
  gap: 25.6px;
}

footer {
  padding: 38.4px 25.6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(53, 53, 53);
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 300;
}
footer .logo {
  height: 27px;
  fill: rgb(255, 255, 255);
  margin-bottom: 25.6px;
  filter: invert(1);
}
footer li {
  line-height: 1.7;
}
footer li:nth-child(-n+3) {
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer i {
  margin-right: 12.8px;
}

/*# sourceMappingURL=style.css.map */
